@import '../app.component.css';

#applyModal .modal-content {
  background-color: #ffbc00; border: 1px solid #49c1bf;
}
#applyModal .modal-header {
  padding-left: 35%; border-bottom: 1px solid #49c1bf; color: #49c1bf;
}
#applyModal .modal-body {
  border-bottom: 1px solid #49c1bf;
}
#applyModal .modal-footer {
  padding-right: 45%;
  border-top: none;
}
#applyModal .close {
  color: #49c1bf;
}

#submitModal .modal-content {
  background-color: #ffbc00; border: 1px solid #49c1bf;
}
#submitModal .modal-header {
  padding-left: 35%; border-bottom: 1px solid #49c1bf; color: #49c1bf;
}
#submitModal .modal-body {
  border-bottom: 1px solid #49c1bf;
}
#submitModal .modal-footer {
  padding-right: 45%;
  border-top: none;
}
#submitModal .close {
  color: #49c1bf;
}
