<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="homeImg"><img style="height: 1000px;" class="first-slide" src="/assets/images/i1.jpg"></div>
			<div class="container">
				<div class="carousel-caption btn-cp pr-3 pl-3">
					<h1>Welcome to the Hive Interact</h1>
					<p>A Decentralised networking, microblogging service to boost up your programming and interviewing skills!</p>
					<p><a class="btn btn-lg bg-orange" href="#" routerLink="/register">Sign up</a></p>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="homeImg"><img style="height: 1000px;" class="second-slide" src="/assets/images/i2.jpg"></div>
			<div class="container">
				<div class="carousel-caption btn-cp pr-3 pl-3">
				
					<p>Earn $HIVE tokens and use them !</p>
					<p><a class="btn btn-lg bg-orange" href="#" routerLink="/register">Join Now</a></p>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="homeImg"><img style="top: -250px; position: absolute" class="third-slide" src="/assets/images/i3.jpg"></div>
			<div class="container">
				<div class="carousel-caption btn-cp pr-3 pl-3">
					<h1>The Decentralised Future is Waiting</h1>
				
					<p><a class="btn btn-lg bg-orange" href="#" routerLink="/register">Learn More</a></p>
				</div>
			</div>
		</div>
	</div>
	<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<div class="container marketing">
	<div class="row">
		<div class="col-lg-4">
			<img class="rounded-circle" src="/assets/images/algo256.png" width="140" height="140">
			<h2>Hive</h2>
		
			<p><a class="btn bg-orange" href="#" routerLink="/colony/algorithms">See Domains &raquo;</a></p>
		</div>
		<div class="col-lg-4">
			<img class="rounded-circle" src="/assets/images/ds256.png" width="140" height="140">
			<h2>DS</h2>
		
			<p><a class="btn bg-orange" href="#" routerLink="/colony/data-structures">See Domains &raquo;</a></p>
		</div>
		<div class="col-lg-4">
			<img class="rounded-circle" src="/assets/images/misc256.png" width="140" height="140">
			<h2>Miscellaneous</h2>
			<p>All other domains.</p>
			<p><a class="btn bg-orange" href="#" routerLink="/colony/misc">See Domains &raquo;</a></p>
		</div>
	</div>
</div>
